.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

footer p {
  margin: 5px 0;
}

.logo-link {
  display: block;
  transition: transform 0.2s;
}

.logo-link:hover {
  transform: translateY(-2px);
}

.footer-logo {
  height: 40px;
  width: auto;
}